.additional-goods {
  position: relative;
}

.additional-goods::before {
  content: "";
  position: absolute;
  top: 58px;
  width: 100%;
  height: 1px;
  background-color: $basic-lime-green;
}

.additional-goods__wrapper {
  padding-top: 15px;
  padding-bottom: 31px;
}

.additional-goods__title {
  position: relative;
  display: inline-block;
  margin: 0 0 0 -20px;
  padding: 26px 22px 34px 19px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $basic-black;
  background-color: $basic-white;
}

.additional-goods__bg {
  display: grid;
  margin: 0;
  padding: 0;
  border-top: 1px solid $basic-light-gray-e;
}

.additional-goods__gift {
  margin: 35px 0 0 0;
  padding: 0;
  background: linear-gradient($basic-lime-green-opacity 100%, $basic-white 0);
  background-size: 100%;

  @media (min-resolution: 2dppx) {
    background: linear-gradient($basic-lime-green-opacity 100%, $basic-white 0);
    background-size: 100%;
  }
}

.additional-goods__gift-icon {
  display: block;
  margin: 0 auto;
  padding: 59px 0 24px 0;
}

.additional-goods__gift-text {
  display: block;
  margin: 0;
  padding: 24px 0 43px 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $basic-white;
}

.additional-goods__bg-image-mobile {
  position: absolute;
  display: block;
  margin: 0;
  opacity: 0.15;
}

@media (min-width: $tablet-width) {
  .additional-goods__wrapper {
    padding-top: 48px;
    padding-bottom: 31px;
  }

  .additional-goods__title {
    margin: 0;
    padding: 26px 33px 34px 37px;
    font-size: 36px;
    line-height: 36px;
  }

  .additional-goods__bg {
    padding-top: 46px;
    border-top: none;
  }

  .additional-goods__gift {
    margin-top: 70px;
    margin-bottom: 46px;
    background: linear-gradient($basic-lime-green-opacity 100%, $basic-white 0);
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background: linear-gradient($basic-lime-green-opacity 100%, $basic-white 0);
      background-size: 100%;
    }
  }

  .additional-goods__gift-wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 57px 124px 60px 77px;
  }

  .additional-goods__bg-image-mobile {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    background-size: 100%;
    opacity: 0.15;
  }

  .additional-goods__gift-icon {
    margin: 0 266px 0 0;
    padding: 0;
  }

  .additional-goods__gift-text {
    margin: 5px 0 0 0;
    padding: 0;
    text-align: left;
  }

  .additional-goods::before {
    top: 95px;
    height: 2px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__wrapper {
    padding-top: 48px;
    padding-bottom: 87px;
  }

  .additional-goods__title {
    margin: 0 0 0 -34px;
  }

  .additional-goods__bg {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 245px;
    grid-column-gap: 80px;
  }

  .additional-goods__gift {
    margin: 0;
    max-height: 288px;
    background: linear-gradient($basic-lime-green-opacity 100%, $basic-white 0);
    background-size: 100%;

    @media (min-resolution: 2dppx) {
      background: linear-gradient($basic-lime-green-opacity 100%, $basic-white 0);
      background-size: 100%;
    }
  }

  .additional-goods__gift-icon {
    margin: 0;
  }

  .additional-goods__gift-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 56px 42px 44px 42px;
  }

  .additional-goods__gift-text {
    margin: 0;
    padding: 49px 0 0 0;
    text-align: center;
  }

  .additional-goods::before {
    top: 97px;
    height: 2px;
  }
}
