@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.additional-goods {
  position: relative;
}

.additional-goods::before {
  content: "";
  position: absolute;
  top: 40px;
  width: 100%;
  height: 1px;
  background-color: $basic-lime-green;
}

.additional-goods__wrapper {
  padding-bottom: 19px;
}

.additional-goods__title {
  position: relative;
  display: inline-block;
  margin: 0 0 0 -20px;
  padding: 25px 22px 36px 20px;
  background-color: $basic-white;
}

.additional-goods__bg {
  display: grid;
  margin: 0;
  padding: 0;
  border-top: 1px solid $basic-light-gray-e;
}

.additional-goods__gift {
  margin: 35px 0 0 0;
  padding: 0;
  background-color: $basic-lime-green;
}

.additional-goods__gift-icon {
  display: block;
  margin: 0 auto;
  padding: 59px 0 24px 0;
}

.additional-goods__gift-text {
  display: block;
  margin: 0;
  padding: 24px 0 43px 0;
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $basic-white;
}

@media (min-width: $tablet-width) {
  .additional-goods__bg {
    padding-top: 60px;
    border-top: none;
  }

  .additional-goods__gift {
    margin-top: 69px;
  }

  .additional-goods__gift-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 57px 124px 60px 77px;
  }

  .additional-goods__gift-icon {
    margin: 0;
    padding: 0;
  }

  .additional-goods__gift-text {
    margin: 0;
    padding: 0;
  }

  .additional-goods::before {
    top: 50px;
    height: 2px;
  }

  .additional-goods__title {
    font-size: 36px;
    line-height: 36px;
  }
}

@media (min-width: $desktop-width) {
  .additional-goods__bg {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 3fr 1fr;
    grid-column-gap: 80px;
  }

  .additional-goods__gift {
    margin: 0;
  }

  .additional-goods__gift-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 56px 43px 40px 42px;
  }

  .additional-goods__gift-text {
    margin: 0;
    padding: 46px 0 0 0;
  }
}
