@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.card-content__title {
  margin: 0 50px 0 0;
  padding: 11px 0 14px 0;
  color: $basic-dark-gray-a;
}

.card-content__wrapper {
  margin: 0;
  padding-bottom: 22px;
}

.card-content__description-list {
  margin: 0;
}

.card-content__string {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.card-content__description {
  margin: 0;
}

.card-content__button {
  display: block;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .card-content__title {
    margin: 0 20px;
    text-align: center;
  }

  .card-content__string {
    margin: 0;
    padding: 6px 0 9px 0;
    border-bottom: 1px solid $basic-light-gray-d;
  }
}

@media (min-width: $desktop-width) {
  .card-content__title {
    margin: 0 5px;
    text-align: center;
  }
}
