.card-content__title {
  margin: 0 42px 0 0;
  padding: 0 0 14px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-dark-gray-a;
}

.card-content__wrapper {
  max-width: 140px;
  margin: 0;
  padding-bottom: 0;
}

.card-content__description-list {
  margin: 0;
}

.card-content__other-title {
  color: $basic-middle-black;
}

.card-content__string {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

.card-content__description {
  margin: 0;
}

.card-content__text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .card-content__title {
    max-width: 133px;
    margin: 0;
    padding: 16px 0 14px 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .card-content__string {
    margin: 0;
    padding: 6px 0 9px 0;
    border-bottom: 1px solid $basic-light-gray-d;
  }

  .card-content__wrapper {
    min-width: 250px;
    padding-bottom: 0;
  }

  .card-content__description-list {
    padding: 0 2px 0 0;
  }

  .card-content__text {
    font-size: 16px;
  }
}

@media (min-width: $desktop-width) {
  .card-content__title {
    margin: 0 5px 0 7px;
    text-align: center;
  }

  .card-content__wrapper {
    min-width: 170px;
    padding-bottom: 0;
  }

  .card-content__description-list {
    padding: 0;
  }
}
