@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";

.catalog-card {
  padding: 8px 20px 25px 20px;
}

.catalog-card:last-child {
  padding: 25px 20px 25px 20px;
}

.show-all-button {
  margin: 0;
  background-color: $basic-gray;
  text-transform: uppercase;
  border-style: none;
}
