.catalog-card {
  position: relative;
  padding: 0 0 0 0;
}

.catalog-card__content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

.catalog-card::after {
  content: "";
  position: absolute;
  bottom: -19px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: $basic-light-gray-e;
  z-index: 3;
}

.catalog-card:last-child {
  position: relative;
  padding: 25px 0 25px 0;
}

.catalog-card__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 19px 0 0 0;
}

.catalog-card__bg {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0;
  padding: 0 0 21px 0;
}

.catalog-card__image {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0;
}

.catalog-card__button {
  display: block;
  margin: 0;
  padding: 10px 0;
  width: 100%;
  font-size: 16px;
  line-height: 20px;
}

.catalog-card__image-card {
  @media (min-width: $tablet-width) {
    min-width: 169px;
  }

  @media (min-width: $desktop-width) {
    min-width: 172px;
  }

  min-width: 68px;
  height: auto;
  margin: 0;
}

.catalog-card__other-icon {
  display: block;
  margin: 0 auto;
  padding: 0;
  border: none;
  background-color: $basic-white;
  cursor: pointer;
}

.catalog-card__other {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.catalog-card__other-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.catalog-card__image-icon {
  width: 30px;
  height: 30px;
}

.catalog-card__other-title {
  margin: 0;
  padding: 19px 0 8px 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.catalog-card__other-text {
  margin: 0;
  padding-bottom: 21px;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.catalog-card__show-all-button {
  display: block;
  width: 100%;
  margin: 0;
  padding: 10px 0;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $basic-dark-gray;
  background-color: $basic-gray;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border-style: none;
  cursor: pointer;
}

.catalog-card__show-all-button:hover {
  background-color: $basic-light-gray-e;
}

.catalog-card__show-all-button:active {
  color: $basic-light-gray-h;
  background-color: $basic-light-gray-e;
}

@media (min-width: $tablet-width) {
  .catalog-card {
    display: flex;
    position: relative;
    max-height: 515px;
  }

  .catalog-card:last-child {
    display: flex;
    position: relative;
    padding: 0;
  }

  .catalog-card::after {
    display: none;
  }

  .catalog-card__basic-bg {
    display: flex;
    padding: 0 36px 36px 38px;
    background: linear-gradient(180deg, $basic-white 16%, $basic-gray 15%);
  }

  .catalog-card__wrapper {
    justify-content: flex-end;
    padding: 0;
  }

  .catalog-card__bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 16px 0;
    padding: 3px 0 0 0;
  }

  .catalog-card__image {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0;
    padding: 0;
  }

  .catalog-card__content {
    align-items: center;
    padding: 15px 0 15px 0;
  }

  .catalog-card__button {
    margin: 0 0 0 0;
  }

  .catalog-card__other-bg {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin: 83px 30px 0 30px;
    padding: 34px;
    border: 2px solid $basic-gray;
  }

  .catalog-card__other-wrapper {
    min-width: 250px;
  }

  .catalog-card__other-icon {
    padding: 0 0 24px 0;
  }

  .catalog-card__other-title {
    max-width: 134px;
    padding: 19px 0 0 0;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  .catalog-card__image-icon {
    width: 60px;
    height: 60px;
  }

  .catalog-card__other-text {
    max-width: 167px;
    margin: 0;
    padding: 23px 0 86px 0;
    font-size: 16px;
    text-align: center;
  }

  .catalog-card__show-all-button {
    margin: 2px 0 -3px 0;
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .catalog-card__basic-bg {
    margin: 0;
    padding: 0 38px 40px 38px;
  }

  .catalog-card__bg {
    max-width: 170px;
    padding: 0;
  }

  .catalog-card__content {
    padding: 22px 0 16px 0;
  }

  .catalog-card__other-wrapper {
    min-width: 170px;
  }

  .catalog-card__other-bg {
    margin: 85px 0 0 0;
    padding: 0 35px 39px 35px;
    border: 2px solid $basic-gray;
  }

  .catalog-card__other-icon {
    padding: 0 0 19px 0;
  }

  .catalog-card__other-title {
    margin: 0;
    padding: 23px 0 0 0;
  }

  .catalog-card__other-text {
    max-width: 167px;
    margin: 0;
    padding: 23px 0 90px 0;
  }

  .catalog-card__show-all-button {
    margin: 0;
  }
}
