@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";

.goods-cards {
  padding: 25px 20px 19px 20px;
}

.goods-cards-title {
  margin: 0;
  padding-bottom: 36px;
}

.goods-cards-list {
  margin: 0;
  padding: 0;
}
