@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.button-primary {
  display: inline-block;
  padding: 0;
  text-align: center;
  color: $basic-white;
  background-color: $basic-lime-green;
  text-transform: uppercase;
  text-decoration: none;
  border-style: none;
  cursor: pointer;
}

.button-primary:hover {
  background-color: $basic-lime-green-c;
}

.button-primary:active {
  color: $basic-lime-green-d;
  background-color: $basic-lime-green-c;
}
