@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";

.button-primary {
  display: inline-block;
  padding: 0;
  text-align: center;
  color: $basic-white;
  background-color: $basic-lime-green;
  text-transform: uppercase;
  text-decoration: none;
  border-style: none;
}

.food-program__button {
  margin: 140px 20px 0 20px;
}

.program__button {
  margin: 0;
}

.show-all-button {
  margin: 0;
  background-color: $basic-gray;
  text-transform: uppercase;
  border-style: none;
}
