$basic-white: #ffffff;
$basic-black: #000000;
$basic-middle-black: #111111;
$basic-dark-gray: #444444;
$basic-dark-gray-a: #222222;
$basic-gray: #f2f2f2;
$basic-light-gray: #eaeaea;
$basic-light-gray-a: #c4c4c4;
$basic-light-gray-b: #e6e6e6;
$basic-light-gray-c: #d9d9d9;
$basic-light-gray-d: #cdcdcd;
$basic-lime-green: #68b738;
