@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: auto;
}

.main-title-page {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: $basic-black;
}

.food-goods-title {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
}

.stats-goods-text {
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: $basic-black;
}

.card-caption {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .container {
    padding: 0 30px;
  }

  .card-caption {
    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .container {
    padding: 0;
    max-width: 1220px;
  }
}
