@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";

.card-text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.card-content__other-title {
  color: $basic-middle-black;
}

.goods-card__title {
  margin: 0;
  padding: 13px 0;
  color: $basic-dark-gray-a;
}

.goods-card__text {
  margin: 0;
  padding-bottom: 15px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
}
