@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.food-program__slogan {
  margin: 0 60px 0 62px;
  line-height: 14px;
  color: $basic-white;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .food-program__slogan {
    font-size: 20px;
    line-height: 20px;
    color: $basic-black;
  }
}

.food-options-title {
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: $basic-black;
}

.food-options-text {
  font-family: "Arial", sans-serif;
}

.benefits-example-title {
  margin: 0 0 40px 0;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  color: $basic-black;
}

.example-stats__description {
  margin: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: $basic-dark-gray;
}

.total-costs__text {
  line-height: 20px;
  color: $basic-black;
  text-transform: uppercase;
}

.live-example__range-before {
  color: $basic-black;
}

.location__invitation-text {
  color: $basic-middle-black;
}

.location__contact-address {
  font-family: "Arial", sans-serif;
  font-style: normal;
}

.copyright__name {
  font-size: 16px;
  color: $basic-dark-gray;
}
