@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.page-hero__text {
  color: $basic-black;
  text-transform: uppercase;
}

.field-text {
  font-size: 16px;
  text-transform: uppercase;
}

.radio-text {
  color: $basic-dark-gray-a;
}

.form-subtitle {
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $basic-black;
}

.additionally-text {
  color: $basic-black;
}

.program__legend small {
  margin: 0;
  font-family: "Arial", sans-serif;
  line-height: 16px;
  color: $basic-black;
}

@media (min-width: $tablet-width) {
  .field-text {
    font-size: 20px;
    line-height: 30px;
  }

  .form-subtitle {
    font-size: 36px;
    line-height: 36px;
  }
}
