.benefits-content__wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
}

.benefits-content__icon-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }

  display: block;
  width: 61px;
  height: 60px;
}

.benefits-content__icon-tablet {
  @media (min-width: $tablet-width) {
    display: block;
    width: 80px;
    height: 80px;
  }

  display: none;
}

.benefits-content__text {
  max-width: 199px;
  margin: 0 0 0 20px;
  padding: 3px 0 0 0;
  font-family: "Arial", sans-serif;
}

.benefits-content__text span {
  @media (min-width: $tablet-width) {
    margin: 0 6px 0 0;
  }

  margin: 0;
}

.benefits-content__text-bg {
  display: none;
}

@media (min-width: $tablet-width) {
  .benefits-content__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0;
    padding: 40px 0 0 0;
  }

  .benefits-content__text-bg {
    display: block;
    top: 0;
    left: 114px;
    margin: 0;
    padding: 0;
    font-family: "Oswald", sans-serif;
    position: absolute;
    font-size: 280px;
    line-height: 280px;
    color: $basic-gray;
    z-index: -1;
  }

  .benefits-content__text {
    max-width: 245px;
    font-size: 16px;
    line-height: 24px;
    margin: 30px 0 0 0;
  }
}

@media (min-width: $desktop-width) {
  .benefits-content__wrapper {
    margin: 0;
    padding: 32px 0 0 0;
  }

  .benefits-content__text-bg {
    top: -8px;
    left: 114px;
  }
}
