@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";

.food-program {
  background-color: $basic-white;
}

.food-program__wrapper {
  position: relative;
}

.food-program__hero {
  position: relative;
  height: 246px;
  margin: 0;
  padding: 27px 35px 29px 36px;
  background-color: $basic-lime-green;
}

.food-program__image-cat {
  position: absolute;
  top: 0;
  z-index: 3;
  opacity: 0.15;
}

.food-program__image-food {
  position: absolute;
  top: 167px;
  left: 20px;
  z-index: 4;
}

.food-program__button {
  margin: 140px 20px 0 20px;
}
