@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.food-benefits {
  padding: 0;
}

.food-benefits__wrapper {
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 53px;
}

.food-benefits-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .food-benefits__wrapper {
    margin: 0 auto;
    padding: 45px 105px 47px 30px;
  }

  .food-benefits-list {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 37px;
    column-gap: 154px;
  }
}

@media (min-width: $desktop-width) {
  .food-benefits__wrapper {
    margin: 0 auto;
    padding: 71px 0 69px 0;
  }

  .food-benefits-list {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 94px;
  }
}

.food-benefits-list__item {
  padding-bottom: 20px;
}

.food-benefits-list__item:last-child {
  padding-bottom: 0;
}

.benefits-content__text {
  margin: 0;
}
