@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";

.food-benefits__wrapper {
  margin: 0;
  padding: 20px;
}

.food-benefits-list {
  padding: 0;
  list-style: none;
}
