@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.food-program {
  background-color: $basic-white;
}

.food-program__wrapper {
  margin: auto;
}

.food-program__bg {
  margin: 0 -20px;
  padding: 0 20px;
  background-color: $basic-lime-green;
}

.food-program__intro {
  margin: 27px 35px 25px 36px;
  color: $basic-white;
}

.food-program__button-wrapper {
  padding: 3px 0 20px 0;
}

@media (min-width: $tablet-width) {
  .food-program__bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $basic-white;
  }

  .food-program__intro {
    font-size: 60px;
    line-height: 60px;
    color: $basic-black;
  }

  .food-program__button-wrapper {
    display: flex;
    justify-content: center;
  }
}

@media (min-width: $desktop-width) {
  .food-program__bg {
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0;
  }

  .food-program__image-wrapper {
    background-color: $basic-lime-green;
  }

  .food-program__button-wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 0 330px 0 190px;
  }
}

.food-program__hero {
  margin: 0;
  padding: 27px 0 29px 0;
}
