@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";

.healthy-food-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.healthy-food-list__item {
  margin-top: 20px;
}
