@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.live-example {
  background-color: $basic-light-gray;
}

.live-example__wrapper {
  padding: 25px 20px 40px 20px;
}

@media (min-width: $tablet-width) {
  .live-example {
    background-color: $basic-white;
  }

  .live-example__wrapper {
    padding: 43px 30px 56px 30px;
  }

  .live-example__range {
    background-color: $basic-light-gray;
  }
}

@media (min-width: $desktop-width) {
  .live-example__title {
    padding: 0 110px 0 110px;
    background-color: $basic-white;
  }

  .live-example__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 110px 75px 110px;
    background-color: $basic-light-gray;
  }
}

.live-example__text {
  margin: 0 0 34px 0;
}

.example-stats__weight {
  text-transform: uppercase;
}

.example-stats {
  margin: 0;
}
