@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";

.nav-list {
  &__item a {
    font-weight: 500;
    color: $basic-black;
    text-decoration: none;
  }
  list-style: none;
}
