@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.page-header {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-black;
  background-color: $basic-white;
  text-transform: uppercase;
}

.page-header__wrapper {
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 18px;
  width: auto;
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    padding-top: 24px;
    padding-bottom: 32px;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    padding-top: 69px;
    padding-bottom: 32px;
    width: 1220px;
  }
}
