.page-header {
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: $basic-black;
  background-color: $basic-white;
  text-transform: uppercase;
}

.page-header__wrapper {
  margin: 0 auto;
  width: auto;
}

.page-header--in {
  border-bottom: 1px solid $basic-light-gray-c;
}

.page-header__logo-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 11px 21px 15px 19px;
}

.page-header__logo-mobile {
  @media (min-width: $tablet-width) {
    display: none;
  }

  width: 100%;
  height: auto;
}

.page-header__logo-tablet {
  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  display: none;
}

.page-header__logo-desktop {
  @media (min-width: $desktop-width) {
    display: block;
  }

  display: none;
}

.page-header__logo-title {
  margin: 5px 7px 0 0;
}

.page-header__toggle {
  position: relative;
  top: 0;
  right: 0;
  z-index: 2;
  display: block;
  width: 25px;
  height: 25px;
  background-color: $basic-white;
  cursor: pointer;
  border: none;
}

.page-header__toggle--hide::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: $basic-black;
  box-shadow: 0 8px 0 0 $basic-black, 0 16px 0 0 $basic-black;
}

.page-header__toggle--open {
  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: 0;
    width: 25px;
    height: 2px;
    background-color: $basic-black;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.page-header__toggle--hide {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 24px 30px 24px 30px;
  }

  .page-header__logo {
    cursor: pointer;
  }

  .page-header__logo-wrapper {
    display: inline-block;
    width: 174px;
    padding: 0;
  }

  .page-header__logo-title {
    display: none;
  }

  .page-header--in {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .page-header__wrapper {
    padding: 0;
    max-width: 1220px;
  }

  .page-header--bg {
    background: linear-gradient(90deg, $basic-white 50%, $basic-lime-green-opacity 50%);
  }

  .page-header__logo-wrapper {
    padding: 53px 0 0 0;
    width: 202px;
  }

  .page-header__logo:hover .page-header__logo-desktop {
    fill-opacity: 0.8;
  }

  .page-header__logo:active .page-header__logo-desktop {
    fill-opacity: 0.6;
  }

  .page-header--in {
    background: $basic-white;
  }
}
