@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.additionally {
  margin: 0;
  padding: 0 0 41px 0;
}

.additionally-title {
  margin: 0;
  padding-bottom: 39px;
}

.additionally-list {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 0;
  list-style: none;
}

.additionally-list__item {
  margin: 0;
  padding-bottom: 24px;
}

.additionally-list__item:last-child {
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .additionally-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: $desktop-width) {
  .additionally-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
