.contact {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

.contact::before {
  content: "";
  position: absolute;
  top: 43px;
  width: 100%;
  height: 1px;
  background-color: $basic-lime-green;
}

.contact__title {
  position: relative;
  display: inline-block;
  max-width: 187px;
  margin: 0 0 0 -20px;
  padding: 26px 14px 33px 20px;
  font-size: 24px;
  line-height: 26px;
  font-weight: 400;
  color: $basic-black;
  background-color: $basic-white;
}

.contact__field-bg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.contact__field {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-bottom: 14px;
}

.contact__field label {
  display: block;
  margin-right: 10px;
  white-space: nowrap;
}

.contact__field input {
  display: block;
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 11px 51px 9px 15px;
  border-radius: 0;
  border: 1px solid $basic-light-gray-d;
}

.contact__field input:hover {
  border-color: $basic-light-gray-f;
}

.contact__field input:focus {
  border-color: $basic-dark-gray;
}

.contact__field input:focus + .contact__field-email-icon line,
.contact__field input:focus + .contact__field-email-icon path {
  stroke: $basic-lime-green;
}

.contact__field input:invalid:not(:placeholder-shown) {
  border-color: $basic-light-red;
}

.contact__field input:invalid:not(:placeholder-shown) + .contact__field-email-icon line,
.contact-field input:invalid:not(:placeholder-shown) + .contact__field-email-icon path {
  stroke: $basic-light-red;
}

.contact__field input:focus + .contact__field-phone-icon path {
  stroke: $basic-lime-green;
  fill: $basic-lime-green;
}

.contact__field input:invalid:not(:placeholder-shown) + .contact__field-phone-icon path {
  stroke: $basic-light-red;
  fill: $basic-light-red;
}

.contact__field-email-icon {
  content: "";
  position: absolute;
  top: 31%;
  left: 88%;
  width: 18px;
  height: 13px;
  margin: 0;
}

.contact__field-phone-icon {
  content: "";
  position: absolute;
  top: 30%;
  left: 88%;
  width: 20px;
  height: 20px;
  margin: 0;
}

.contact__field:last-child {
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .contact {
    padding: 0 0 43px 0;
  }

  .contact::before {
    top: 25px;
  }

  .contact__field-bg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 36px 0 38px;
  }

  .contact__title {
    position: relative;
    display: inline-block;
    max-width: 512px;
    margin: 0;
    padding: 0 42px 77px 39px;
    font-size: 36px;
    line-height: 36px;
    background-color: $basic-white;
    z-index: 5;
  }

  .contact__field {
    padding-bottom: 20px;
  }

  .contact__field label {
    margin-left: 1px;
    margin-right: 17px;
  }

  .contact__field input {
    padding: 10px 15px 9px 20px;
  }

  .contact__field-email-icon {
    top: 27%;
    left: 94%;
    width: 18px;
    height: 13px;
  }

  .contact__field-phone-icon {
    top: 33%;
    left: 94%;
    width: 20px;
    height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    padding: 0;
  }

  .contact::before {
    top: 24px;
  }

  .contact__field-bg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 78px;
    padding: 76px 0 45px 0;
  }

  .contact__title {
    margin: 0 0 0 -40px;
    padding: 0 42px 0 39px;
  }

  .contact__field {
    padding-bottom: 0;
  }

  .contact__field input {
    padding: 9px 15px 9px 18px;
  }

  .contact__field-email-icon {
    top: 36%;
    left: 93%;
    width: 19px;
    height: 16px;
  }

  .contact__field-phone-icon {
    top: 31%;
    left: 94%;
  }
}
