@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.contact {
  position: relative;
  margin: 0;
  padding: 0 0 23px 0;
  border: none;
}

.contact::before {
  content: "";
  position: absolute;
  top: 40px;
  width: 100%;
  height: 1px;
  background-color: $basic-lime-green;
}

.contact-title {
  position: relative;
  display: inline-block;
  margin: 0 0 0 -20px;
  padding: 26px 14px 35px 20px;
  background-color: $basic-white;
}

.contact-bg {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
}

.contact-field {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-bottom: 14px;
}

.contact-field label {
  display: block;
  margin-right: 8px;
}

.contact-field input {
  display: block;
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 13px 51px 15px 15px;
  border-radius: 0;
  border: 1px solid $basic-light-gray-d;
}

.contact-field input:hover {
  border-color: $basic-light-gray-f;
}

.contact-field input:focus {
  border-color: $basic-dark-gray;
}

.contact-field input:focus + .contact-field__email-icon line,
.contact-field input:focus + .contact-field__email-icon path {
  stroke: $basic-lime-green;
}

.contact-field input:invalid:not(:placeholder-shown) {
  border-color: $basic-light-red;
}

.contact-field input:invalid:not(:placeholder-shown) + .contact-field__email-icon line,
.contact-field input:invalid:not(:placeholder-shown) + .contact-field__email-icon path {
  stroke: $basic-light-red;
}

.contact-field input:focus + .contact-field__phone-icon path {
  stroke: $basic-lime-green;
  fill: $basic-lime-green;
}

.contact-field input:invalid:not(:placeholder-shown) + .contact-field__phone-icon path {
  stroke: $basic-light-red;
  fill: $basic-light-red;
}

.contact-field__email-icon {
  content: "";
  position: absolute;
  top: 33%;
  left: 92%;
  width: 18px;
  height: 13px;
  margin: 0;
}

.contact-field__phone-icon {
  content: "";
  position: absolute;
  top: 34%;
  left: 93%;
  width: 20px;
  height: 20px;
  margin: 0;
}

.contact-field:last-child {
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .contact {
    padding: 0 0 65px 0;
  }

  .contact::before {
    top: 20px;
  }

  .contact-bg {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 36px 0 38px;
  }

  .contact-title {
    position: relative;
    display: inline-block;
    margin: 0;
    padding: 0 42px 86px 39px;
    background-color: $basic-white;
    z-index: 5;
  }

  .contact-field {
    padding-bottom: 20px;
  }
}

@media (min-width: $desktop-width) {
  .contact {
    padding: 0;
  }

  .contact-bg {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 78px;
    padding: 76px 0 69px 0;
  }

  .contact-title {
    padding: 0 42px 0 39px;
  }

  .contact-field {
    padding-bottom: 0;
  }
}
