.program-form__additionally-wrapper {
  margin: 0;
  padding: 0;
}

.program-form__radio-bg {
  border-bottom: 1px solid $basic-light-gray-c;
}

.program-form__user-bg {
  border-bottom: 1px solid $basic-light-gray-c;
}

@media (min-width: $tablet-width) {
  .program-form__additionally-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .program-form__user-wrapper {
    padding: 66px 0 75px 0;
  }

  .program-form__radio-bg {
    padding: 0 67px 0 71px;
    border-bottom: none;
  }

  .program-form__user-bg {
    border-bottom: none;
  }
}

@media (min-width: $desktop-width) {
  .program-form__user-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 80px;
    margin: 0 auto;
    padding: 66px 0 69px 0;
    max-width: 1220px;
  }

  .program-form__radio-bg {
    margin: 0;
    padding: 0;
  }

  .program-form__user-bg {
    margin: 0;
  }
}
