.radio {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 0;
  padding: 28px 0 24px 0;
  border: none;
}

.radio__list {
  margin: 0 0 0 45px;
  padding: 0;
  list-style: none;
}

.radio__item {
  padding-bottom: 24px;
}

.radio__item:last-child {
  padding-bottom: 0;
}

.radio__text {
  position: relative;
  color: $basic-dark-gray-a;
  cursor: pointer;
}

.radio__input-condition + label::before {
  content: "";
  position: absolute;
  top: -3px;
  left: -46px;
  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  border: 1px solid $basic-light-gray-d;
  border-radius: 50%;
}

.radio__input-condition:checked + label::after {
  content: "";
  position: absolute;
  top: 5px;
  left: -36px;
  margin: 0;
  padding: 0;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: $basic-lime-green;
  background-repeat: no-repeat;
  background-position: center;
}

.radio__input-condition:hover + label::before,
.radio__input-condition:focus + label::before {
  border-color: $basic-light-gray-i;
}

.radio__input-condition:disabled + label::before,
.radio__input-condition:disabled + label {
  color: $basic-light-gray;
  border-color: $basic-light-gray;
}

.radio__input-condition:disabled + label::after {
  background-color: $basic-lime-green-f;
}

@media (min-width: $tablet-width) {
  .radio {
    padding: 29px 0 28px 28px;
    border: 1px solid $basic-light-gray-d;
  }

  .radio__list {
    margin: 0 0 0 58px;
  }

  .radio__item {
    padding-bottom: 23px;
  }

  .radio__input-condition + label::before {
    top: -6px;
    left: -60px;
    width: 39px;
    height: 40px;
  }

  .radio__input-condition:checked + label::after {
    top: 6px;
    left: -48px;
    width: 18px;
    height: 18px;
  }
}
