@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";

.radio {
  margin: 0;
  padding: 22px 24px 20px 20px;
}

.radio-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
