@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.user-bg {
  border-bottom: 1px solid $basic-light-gray-c;
}

.user {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 5px 0 24px 0;
  border: none;
}

.user-field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-bottom: 14px;
}

.user-field label {
  display: block;
  margin-right: 12px;
}

.user-field input {
  display: block;
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 13px 15px;
  border-radius: 0;
  border: 1px solid $basic-light-gray-d;
}

.user-field:last-child {
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .user-bg {
    border-bottom: none;
  }

  .user {
    padding: 0 37px 72px 41px;
  }

  .user-field input {
    padding: 11px 18px;
  }
}

@media (min-width: $desktop-width) {
  .user-bg {
    margin: 0;
  }

  .user {
    padding: 0;
  }
}
