.user {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
  padding: 7px 0 21px 0;
  border: none;
}

.user__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding-bottom: 14px;
}

.user__field label {
  display: block;
  margin-right: 15px;
  white-space: nowrap;
}

.user__field input {
  display: block;
  flex-grow: 1;
  width: 100%;
  margin: 0;
  padding: 10px 14px;
  border-radius: 0;
  border: 1px solid $basic-light-gray-d;
}

.user__field input:hover {
  border-color: $basic-light-gray-f;
}

.user__field input:focus {
  border-color: $basic-dark-gray;
}

.user__field input:invalid:not(:placeholder-shown) {
  border-color: $basic-light-red;
}

.user__field:last-child {
  padding-bottom: 0;
}

@media (min-width: $tablet-width) {
  .user {
    padding: 0 37px 72px 41px;
  }

  .user__field {
    padding-bottom: 20px;
  }

  .user__field input {
    padding: 10px 18px;
  }

  .user__field label {
    margin-right: 16px;
  }
}

@media (min-width: $desktop-width) {
  .user {
    padding: 0;
  }
}
