@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";

.location__wrapper {
  margin: 0;
  padding: 0 20px 26px 20px;
}

.location__invitation {
  margin: 0;
}

.location__invitation-text {
  margin: 0;
}
