@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.location__wrapper {
  margin: 0;
  padding: 0 20px 26px 20px;
}


@media (min-width: $tablet-width) {
  .location__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 40px 56px 40px;
  }
}

.location__wrapper-map {
  margin: 0 -20px;
  padding: 0;
}

.location__invitation {
  margin: 0;
}

.location__invitation-text {
  margin: 0;
}
