.location__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 28px;
  padding-bottom: 26px;
}

.location__wrapper-map {
  position: relative;
  padding: 0;
  margin: 0 -20px;
}

.location__wrapper-map iframe {
  display: block;
  width: 100%;
  height: 362px;
  border: none;
}

.location__point-map svg {
  position: absolute;
  top: 137px;
  left: 134px;
}

.location__point-map svg {
  @media (min-width: $tablet-width) {
    width: 113px;
    height: 105px;
  }

  width: 57px;
  height: 53px;
}

.location__invitation {
  margin: 0;
}

.location__invitation-text {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $basic-middle-black;
}

.location__contact-address {
  margin: 0 5px 0 0;
  font-family: "Arial", sans-serif;
  font-style: normal;
  line-height: 20px;
}

@media (min-width: $tablet-width) {
  .location__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 56px 40px 56px 40px;
  }

  .location__wrapper-map {
    margin: 0 -30px;
  }

  .location__point-map svg {
    position: absolute;
    top: 150px;
    left: 332px;
  }

  .location__wrapper-map iframe {
    height: 400px;
  }


  .location__invitation {
    margin: 4px 0 0 0;
  }

  .location__invitation-text {
    font-size: 20px;
    line-height: 26px;
  }

  .location__contact-address {
    position: relative;
    margin: 0 0 0 10px;
    text-align: right;
    font-size: 16px;
  }

  .location__contact-address span {
    position: absolute;
    top: 60px;
    left: 28px;
  }
}

@media (min-width: $desktop-width) {
  .location__bg {
    position: relative;
    top: 95px;
    display: inline-block;
    width: auto;
    padding: 56px 80px;
    background-color: $basic-white;
    z-index: 3;
  }

  .location__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }

  .location__contact-address {
    margin: 0 0 0 9px;
    text-align: left;
  }

  .location__contact-address span {
    top: 58px;
    left: 0;
  }

  .location__invitation-text {
    margin: 0 87px 0 0;
  }

  .location__wrapper-map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
    background-size: 100%;
    cursor: pointer;
  }

  .location__point-map svg {
    position: absolute;
    top: 132px;
    left: 907px;
  }
}
