.page-footer {
  position: relative;
  padding: 0;
}

.page-footer--form {
  background-color: $basic-gray;
}

.page-footer__connections {
  background-color: $basic-gray;
}

.page-footer__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 22px;
}

.page-footer__logo-wrapper {
  padding-bottom: 32px;
  cursor: pointer;
}

.page-footer__logo-wrapper:hover .page-footer__logo path {
  fill: $basic-dark-gray-c;
}

.page-footer__logo-wrapper:active .page-footer__logo path {
  fill: $basic-dark-gray-d;
}

.page-footer__logo-wrapper::after {
  position: absolute;
  top: 94px;
  right: 20px;
  bottom: 0;
  left: 20px;
  content: "";
  height: 1px;
  background-color: $basic-light-gray-c;
}

.page-footer__networks {
  @media (min-width: $tablet-width) {
    margin: 0 0 0 44px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
  }

  padding: 17px 0 21px 0;
}

.page-footer__networks::after {
  position: absolute;
  top: 157px;
  right: 20px;
  bottom: 0;
  left: 20px;
  content: "";
  height: 1px;
  background-color: $basic-light-gray-c;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 55px;
  }

  .page-footer__logo-wrapper {
    padding: 0;
  }

  .page-footer__logo-wrapper::after,
  .page-footer__networks::after {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 57px 0 58px 0;
  }

  .page-footer__connections {
    margin-top: 206px;
  }
}
