@import "source/sass/global/fonts.scss";
@import "source/sass/global/colors.scss";
@import "source/sass/global/viewports.scss";

.page-footer {
  position: relative;
  padding: 0;
}

.footer-form {
  background-color: $basic-gray;
}

.page-footer__connections {
  background-color: $basic-gray;
}

.page-footer__wrapper {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding-top: 39px;
  padding-bottom: 22px;
}

.page-footer__logo-wrapper {
  padding-bottom: 32px;
}

.page-footer__logo-wrapper::after {
  position: absolute;
  top: 97px;
  right: 20px;
  bottom: 0;
  left: 20px;
  content: "";
  height: 1px;
  background-color: $basic-light-gray-c;
}

.page-footer__networks {
  padding: 20px 0 21px 0;
}

.page-footer__networks::after {
  position: absolute;
  top: 162px;
  right: 20px;
  bottom: 0;
  left: 20px;
  content: "";
  height: 1px;
  background-color: $basic-light-gray-c;
}

.page-footer__copyright {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 281px;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 58px;
    padding-bottom: 55px;
  }

  .page-footer__logo-wrapper {
    padding: 0;
  }

  .page-footer__logo-wrapper::after,
  .page-footer__networks::after {
    display: none;
  }

  .page-footer__copyright {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 163px;
  }

  .copyright__name-wrapper {
    margin-left: 20px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 57px 0 58px 0;
  }
}
